div.disfix {
  position: sticky;
  z-index: 3;
  align-self: flex-start;
  top: 0;
  margin: 0 auto;
  background-color: white;
}
header > a > img {
  width: 100%;
}
/*logo va search bar*/
div.headbala > a.digi > img {
  width: 10%;
  display: inline-block;
  margin-top: 10px;
  margin-right: 1%;
}
div.headbala > a.search > img {
  width: 88%;
  margin-top: 3px;
}
/*menu bala*/
nav.menu > h4 {
  width: 100%;
}
nav.menu>h4>ul{
    width: inherit;
    height: inherit;
    padding: 0 10px;
    direction: rtl;
}
nav.menu>h4>ul>li{
    width: auto;
    height: inherit;
    display: inline-block;
    position: relative;
}
nav.menu > h4 > ul>li> a {
  font-size: auto;
  font-family: Yekan;
  direction: rtl;
  text-decoration: none;
  display: inline;
  margin-top: 2px;
  color: gray;
  text-transform: uppercase;
  font-weight: 600;
  width: 90%;
  padding: 0 10px;
  text-align: center;
  transition: all 50ms linear;
}
nav.menu > h4 > ul>li>a.bikhod {
  margin: 0% 0%;
  font-size: 0%;
  color: white;
  width: 0%;
}
nav.menu > h4 > ul>li>a.daste {
  margin-right: 0%;
  margin-left: 1%;
  font-size: auto;
  font-family: Yekan;
  direction: rtl;
  text-decoration: none;
  display: inline-block;
  margin-top: 2px;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  padding: 0 2px;
  text-align: center;
  transition: all 50ms linear;
}
nav.menu > h4 > ul>li> div.submenu {
  width: calc(90vw - 50px);
  height: 450px;
  box-shadow: 1px 1px 5px black;
  background-color: white;
  display: none;
  position: absolute;
  margin-right: 1%;
}

nav.menu > h4 > ul>li:hover > div.submenu {
  right: 0;
  display: block;
}
nav.menu > h4 > ul>li> div.submenu > div.right {
  width: 15%;
  height: inherit;
  background-color: white;
}
nav.menu > h4 > ul>li> div.submenu > div.right > ul {
  width: 100%;
  height: inherit;
}
nav.menu > h4>ul>li>div.submenu>div.right>ul>li{
    width: inherit;
    height: 50px;
}
nav.menu > h4 >ul>li>div.submenu>div.right>ul>li>a{
    display: block;
    width: inherit;
    height: inherit;
    line-height: 50px;
    font-family: Yekan;
    font-size: 12px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-right: 20px;
    transition: 200ms;
}
nav.menu > h4 >ul>li>div.submenu>div.right>ul>li>a:hover{
    background-color: rgb(243, 243, 243);
    color: crimson;
}
nav.menu > h4 >ul>li>div.submenu>div.right>ul>li>div.links{
    width: 85%;
    height:450px;
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid lightgray;
    display: none;
}
nav.menu > h4 >ul>li>div.submenu>div.right>ul>li:hover>div.links{
    display: block;
}
nav.menu > h4 >ul>li>div.submenu>div.right>ul>li>div.links>div.first,nav.menu > h4 >ul>li>div.submenu>div.right>ul>li>div.links>div.second,nav.menu > h4 >ul>li>div.submenu>div.right>ul>li>div.links>div.third,nav.menu > h4 >ul>li>div.submenu>div.right>ul>li>div.links>div.fourth{
    display: inline-block;
    width: 20%;
    height: inherit;
}
nav.menu > h4 >ul>li>div.submenu>div.right>ul>li>div.links>div.kol{
  display: inline-block;
  width: 100%;
  height: inherit;
}
nav.menu > h4 >ul>li>div.submenu>div.right>ul>li>div.links>div.first>a>img,nav.menu > h4 >ul>li>div.submenu>div.right>ul>li>div.links>div.second>a>img,nav.menu > h4 >ul>li>div.submenu>div.right>ul>li>div.links>div.third>a>img,nav.menu > h4 >ul>li>div.submenu>div.right>ul>li>div.links>div.fourth>a>img{
  width: 100%;
  height: 100%;
}
nav.menu > h4 >ul>li> a:hover {
  color: dimgray;
  border-bottom: 3px solid red;
  transform: scale(1, 1);
}
